header{

background-color: darkgray;
padding: 40px 120px;

}



nav{

display: flex;
justify-content: space-between;
align-items: center;
}

nav > ul{

    display: flex;
    
}

nav li{

list-style-type: none;
margin-right: 25px;

}

nav a{

    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.btn{

    background-color: orange;
padding: 15px;
border-radius: 8px;
border: none;
margin-bottom: 15px;
font-weight: 500;
font-size: 1.1rem;
color: aliceblue;

}


.nav-head{

    font-size: 2.5rem;
    font-weight: 800;

}



.nav-title{

    text-align: center;
    
}

.nav-container img{

    width: 100%;

}

.nav-heading{

    color: var(--dark-01, #131313);
    font-size: 3.5rem;
    font-weight: 700;

}

.nav-para{

    color: var(--dark-03, #727272);
    text-align: center;
    font-weight: 400;

}

main{

    max-width:1440px;
    margin:50px auto;
    
}

.team-container{

display: flex;
align-items: center;


}

.div-team{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    
}

.team-discription{

    padding-right: 70px;
    padding-left: 70px;
    }



@media screen and (max-width:576px){

.nav-container img{

    width:100%;
}

.nav-heading{

    font-size: 2rem;
}
    nav{

        flex-direction: column;
    }

    header{

        padding:10px 10px;
    }
    
        .team-image,
        .team-container{

            flex-direction: column;
        }

        .div-team{

grid-template-columns: 1fr;;

        }

        .div-team img{

            width: 100%;
        }
        
.team-discription{

    width:50%;
    
    }
        
       


}

@media screen and (min-width:576px) and (max-width:970px){


    .team-container{

        flex-direction: column;
    }

    
}